*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

h3{
  font-weight: bolder;
  padding-bottom: 20px;
}

.left-column-components{
  height: 100vh;
  background-color: red;

  .image-content{
    img{
      width: 100%;
      height: 100vh;

      &.puerta-abierta{display: none;}
      &.puerta-cerrada{display: none;}
      &.tele-encendida{display: none;}
      &.tele-apagada{display: none;}
      &.ventana-abierta{display: none;}
      &.ventana-cerrada{display: none;}
      &.foco-encendido{display: none;}
      &.foco-apagado{display: none;}
    }
  }
}

.right-column-phone{
  height: 100vh;
  background: linear-gradient(269deg, #27d9ab, #d95027);

  .phone{
    max-width: 325px;
    width: 100%;
    height: 621px;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 65px;
    border: 1px solid black;
    background-color: black;
    position: relative;
    box-shadow: 13px 14px 10px;

    .notch{
      background-color: white;
      border: 1px solid black;
      width: 300px;
      height: 590px;
      margin: 0 auto;
      border-radius: 50px;
      margin-top: 15px;
      background-image: url("../../images/iphone-x.jpg");
      background-size: 100%;
      position: relative;

      .controls{
        background-color: black;
        width: 192px;
        height: 25px;
        border-radius: 0px 0px 50px 50px;
        margin: 0px auto 0 56px;
      }

      .display{
        text-align: center;

        // Styles Sala.
        .wrapper-display-sala{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-sala-luz{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-sala-tele{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        // Styles HABITACION.
        .wrapper-display-habitacion{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-habitacion-luz{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-habitacion-tele{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-habitacion-ventana{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        // Styles COCINA.
        .wrapper-display-cocina{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-cocina-luz{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }
        .wrapper-display-cocina-ventana{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        // Styles COCHERA.
        .wrapper-display-cochera{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-cochera-puerta{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        .wrapper-display-cochera-luz{
          padding-top: 20px;
          display: none;

          li:last-child{
            margin-top: 200px;
          }
        }

        li{
          list-style: none;

          a{
            text-decoration: none;
            background-color: pink;
            padding: 10px 15px;
            width: 100%;
            display: block;
            max-width: 190px;
            margin: 0 auto;
            margin-bottom: 10px;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            background: linear-gradient(269deg, black, blue);

            &:hover{
              background: linear-gradient(269deg, blue, black);
            }
          }
        }

        .wrapper-display{
          padding-top: 20px;
        }
      }

      .line{
        background-color: #ffffffa8;
        width: 75px;
        height: 4px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
